# Basic Python

In [1]:
print('Hello world')

Hello world

In [23]:
print('hello world')
print('hello world')
print('hello world')

hello world
hello world
hello world

# Represent new line

In [25]:
print('hello world')
print("\n")
print('hello world')
print('hello world')

hello world


hello world
hello world

In [10]:
a =3
print("a= ",a, sep='@@@ ', end='')

a= @@@ 3

In [11]:
x = 50;
print(x)

50

In [12]:
x = 10;
y = 20;
c = x+y;
print(c)

30

# File location

In [21]:
import os

In [22]:
os.getcwd()

'C:\\Users\\DOLPHIN\\Untitled Folder'

# length

In [24]:
x = 'python'
y= len(x)
print(y)

6

# Capitalize

In [27]:
x = 'hello'
y = x.capitalize()
print(y)

Hello

In [28]:
y = x.upper()
print(y)

HELLO

# Swapcase

In [35]:
p = 'MEHEVIEN SUMONA'
q = p.swapcase()
print(q)

mehevien sumona

In [38]:
q.swapcase()

'MEHEVIEN SUMONA'

In [39]:
name ="harry"
mango = 8
print("%s has %i mango" %(name,mango))

harry has 8 apples

In [41]:
name ="Mehevein"
mango =4
print("%s has %i mango" %(name, mango))

Mehevein has 4 mango

In [49]:
name = "karim"
apples = 3
x= "{0} has {1} apples".format(name,apples)
print(x)

karim has 3 apples

In [55]:
name= "othoy"
apples = 3
mango = 5
x ="{0} has {1} mango and {2} apples!".format(name,apples,mango)
print(x)

othoy has 3 mango and 5 apples

In [56]:
name ="kamal"
print(f"{name} has {apples} apples")

kamal has 3 apples

# user Input

In [1]:
a = input("Enter your name:")
print(a)

Enter your name:Mehevien sumona
Mehevien sumona

In [1]:
x = str(input("Enter name:"))
print(x)

Enter name:Royal university of Dhaka
Royal university of Dhaka

In [7]:
x = int(input("Enter integer number:"))
print(x)

Enter integer number:323
323

In [6]:
x = float(input("Enter floating number:"))
print(x)

Enter floating number:44.55
44.55

# Data Type

In [9]:
x = 1111
type(x)

int

In [10]:
x ="nila"
type(x)

str

In [15]:
x = 33.33
type(x)

float

In [21]:
a = True
type(a)

bool

In [22]:
b = False
type(b)

bool

# physical layout address

In [13]:
x = "oboni"
id(x)

1909122921200

In [14]:
y = 333
id(y)

1909122916560

# join function

In [26]:
a =['Royal', 'University', 'of','Dhaka']
x = ' ' .join(a)
print(x)

Royal University of Dhaka

In [28]:
a = "Royal university of Dhaka"
x = a.split()
print(x)

['Royal', 'university', 'of', 'Dhaka']

In [29]:
a = "sumona"
x = a.split()
print(x)

['sumona']

In [33]:
a = "Search Engine Optimization"
a= a.split()
print(a)

['Search', 'Engine', 'Optimization']

# if-else

In [34]:
x = 30
y =50
if x>y:
    print('x is greater than y')
else:
    print('y is greater than x')

y is greater than x

In [38]:
x = 20
y =70
z = 20
if x>y and x>z:
    print('x is the large number')
elif y>x and y>z:
    print('y is large number')
else:
    print('z is large number')

y is large number

In [42]:
x = int(input("Enter the value of x:"))
y = int(input("Enter the value of y:"))
z= int(input("Enter the value of z:"))
if x>y and x>z:
    print('x is the large number')
elif y>x and y>z:
    print('y is large number')
elif y==x and y==z:
    print('x y x are equal')
else:
    print('z is large number')

Enter the value of x:44
Enter the value of y:44
Enter the value of z:44
x y x are equal

In [66]:
Bangla = int(input("Enter number of mark in bangla:"))
English = int(input("Enter number of mark in English:"))
Math = int(input("Enter number of mark in Math:"))

if Bangla>=80:
    print('A+')
elif Bangla>=70 and Bangla<=79:
    print('Bangla: A')
elif Bangla>=60 and Bangla<=69:
    print('Bangla: A-')
elif Bangla>=50 and Bangla<=59:
    print('Bangla: B+')
elif Bangla>=40 and Bangla<=49:
    print('Bangla: c')
elif Bangla>=33 and Bangla<=39:
    print('Bangla: d')
elif Bangla>=0 and Bangla<=32:
    print('Bangla: F')
if English>=80:
    print('English: A+')
elif English>=70 and English<=79:
    print('English: A')
elif English>=60 and English<=69:
    print('English: A-')
elif English>=50 and English<=59:
    print('English: B+')
elif English>=40 and English<=49:
    print('English: c')
elif English>=33 and English<=39:
    print('English: d')
elif English>=0 and English<=32:
    print('English: F')
    
if Math>=80:
    print('Math: A+')
elif Math>=70 and Math<=79:
    print('Math: A')
elif Math>=60 and Math<=69:
    print('Math: A-')
elif Math>=50 and Math<=59:
    print('Math: B+')
elif Math>=40 and Math<=49:
    print('Math: c')
elif Math>=33 and Math<=39:
    print('Math: d')
elif Math>=0 and Math<=32:
    print('Math: F')

Enter number of mark in bangla:50
Enter number of mark in English:60
Enter number of mark in Math:80
Bangla: B+
English: A-
Math: A+

# even odd number

In [45]:
x = int(input("Enter Integer number:"))
if x%2==0:
    print('This is a even number')
else:
    print('This is a odd number')

Enter Integer number:31
This is a odd number